@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}




@keyframes textColorChange {
    0% { color: #23D5AB; /* Start color */ }
    25% { color: #23A6D5; /* Midpoint 1 color stop */ }
    50% { color: #E73C7E; /* Midpoint 2 color stop */ }
    75% { color: #EE7752; /* Midpoint 3 color stop */ }
    100% { color: #DDD6F3; /* End color */ }
  }
  
  .text-color-transition {
    animation: textColorChange 20s linear infinite alternate;
  }

  

  @keyframes backgroundColorChange {
    0% { background-color: #23D5AB; /* Start color */ }
    25% { background-color: #23A6D5; /* Midpoint 1 color stop */ }
    50% { background-color: #E73C7E; /* Midpoint 2 color stop */ }
    75% { background-color: #EE7752; /* Midpoint 3 color stop */ }
    100% { background-color: #DDD6F3; /* End color */ }
  }
  
  .bg-color-transition {
    animation: backgroundColorChange 20s linear infinite alternate;
  }
  
  @keyframes blobber {
    /* ... Your keyframes for blobber ... */
    0%  { border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
    5%  { border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%; }
    10% { border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%; }
    15% { border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%; }
    20% { border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%; }
    25% { border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%; }
    30% { border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%; }
    35% { border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%; }
    40% { border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%; }
    45% { border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%; }
    50% { border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%; }
    55% { border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%; }    
    60% { border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%; }
    65% { border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%; }
    70% { border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%; }
    75% { border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%; }
    80% { border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%; }
    85% { border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%; }
    90% { border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%; }
    95% { border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%; }
    100%{ border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
}


@keyframes cobler {
  0% {
      background-color: #23D5AB; /* Start color */
  }
  25% {
      background-color: #23A6D5; /* Midpoint 1 color stop */
  }
  50% {
      background-color: #E73C7E; /* Midpoint 2 color stop */
  }
  75% {
      background-color: #EE7752; /* Midpoint 3 color stop */
  }
  100% {
      background-color: #DDD6F3; /* End color */
  }
}


.animated-div {
    display: block;
    position: relative;
    overflow: hidden;
    animation: 
        blobber 20s linear infinite,
        cobler 20s linear infinite alternate;
}


@keyframes borderColorChange {
  0% { border-color: #23D5AB; /* Start color */ }
  25% { border-color: #23A6D5; /* Midpoint 1 color stop */ }
  50% { border-color: #E73C7E; /* Midpoint 2 color stop */ }
  75% { border-color: #EE7752; /* Midpoint 3 color stop */ }
  100% { border-color: #DDD6F3; /* End color */ }
}

.border-color-transition {
  animation: borderColorChange 20s linear infinite alternate;
  border: 2px solid; /* Example border style, you can adjust as needed */
}


@media (max-width: 768px) {
  .circle-size {
      height: 10rem; /* Adjusted height */
      width: 10rem; /* Adjusted width */
      top: 100%; /* Adjusted vertical position */
      /* Add any other property adjustments specific to the circle here */
  }
}